h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 220201032-01]
        p.mb-0 Corregir el plan de manejo seguro de plaguicidas frente a los resultados de la verificación.