h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas   
                    +navTemaItem('1', 'Generalidades, manejo, almacenaje y transporte de plaguicidas', 'main.html#page/generalidades/')
                    +navTemaItem('2', 'Diligenciamiento de formatos y manejo de guías', 'main.html#page/diligencionamiento_formatos/')   
                    +navTemaItem('3', 'Uso del kit para el control de derrames de plaguicidas', 'main.html#page/kit_control_derrames/') 
                    +navTemaItem('4', 'Peligros para la salud y el medio ambiente', 'main.html#page/peligros/') 
                    