h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.mb-0
          li.mb-3 #[strong 220201032-01.] Corregir el plan de manejo seguro de plaguicidas frente a los resultados de la verificación.
          li.mb-0 #[strong 220201032-02.] Comprobar la efectividad de planes de manejo seguro de plaguicidas, en cumplimiento de paramentos técnicos y normativa vigente.