.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, artículo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Prevenimos las intoxicaciones y evitamos la contaminación: Manual de educación sanitaria en plaguicidas.
                    td PDF
                    td 
                        a(href="media/documentos/Manual_plaguicidas_PAR.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar   
                tr
                    td Resolución N° 2075. Manual Técnico Andino para el Registro y Control de Plaguicidas Químicos de Uso Agrícola. 
                    td PDF
                    td 
                        a(href="media/documentos/RESOLUCION2075.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar  