.container#tema_3

    .header-ecored
        h1 3. Uso del kit para el control de derrames de plaguicidas.   
                 

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3
            h2 3.1 Elementos de protección personal

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_01.png", alt="", style="width:100%").img-fluid 

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/info_3_01.svg", alt="", style="width:100%").img-fluid 

      .row
        .col-12
          .jumbotron.mb-0
            p.mb-0 Es importante tener en cuenta que cada equipo utilizado debe tener sus complementos como arnés, correas, cinturilla y los demás que requiera la labor. Igualmente es de resaltar que los diferentes equipos que conforman el kit de seguridad para el trabajador deben ser compatibles con el fin de propender por la seguridad del ser humano.

