.container#tema_3

    .header-ecored
        h1 3. Uso del kit para el control de derrames de plaguicidas.   
                 

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3
            h2 3.2 Uso del Kit para el control de derrames

      .row.justify-content-center.mb-5
        .col-12
          .header-arrow
            h2.text-center El kit para el control de derrames de productos consta de los siguientes elementos:    

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/info_3_02.svg", alt="", style="width:100%").img-fluid 
