.container#tema_3 
                 

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3
            h2 3.3 Procedimiento ante derrames, aislamiento, limpieza, manejo de residuos peligrosos       

      .row.justify-content-center.mb-6
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_3_01.jpg", alt="", style="width:100%").img-fluid 
        .col-12
          p El derrame accidental de un producto químico debe tratarse con extremas precauciones por los riesgos asociados a la sustancia considerada peligrosa. Es indispensable capacitar a todo el personal acerca del protocolo antiderrames y disponer de los materiales requeridos para la atención de incidentes o accidentes.
          p En el caso de derrames de productos sólidos, se procede al barrido y disposición en un contenedor de residuos en seco debidamente cerrado e identificado, aunque, se recomienda también aspirar para evitar que se esparzan las partículas en el aire. Existen algunos casos particulares como el de oxidantes (nitratos, permanganatos, cloratos...), que no deben recogerse con materiales de celulosa ya que pueden entrar en combustión.

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Derrames de productos químicos o biológicos

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_3_02.png", alt="", style="width:100%").img-fluid 
        .col-12.mb-4
          p Ante un derrame de sustancia peligrosa se debe determinar, su importancia, magnitud y tratamiento más adecuado, de acuerdo con la peligrosidad de la sustancia, cantidad involucrada y características del accidente, de acuerdo con los procedimientos descritos en el plan de manejo y hoja de seguridad.
          p En el caso de existir derrame o fuga de alguna de las sustancias pertenecientes a las clases de peligrosidad mencionadas a continuación siempre se debe activar el Plan de emergencias de la empresa, teniendo en cuenta la siguiente clasificación:

        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Clase 1:] explosivos.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Clase 2:] gases.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Clase 6:] sustancias infecciosas y tóxicas.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Clase 7:] sustancias radiactivas.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Procedimiento para el control del derrame de líquidos

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_3_03.png", alt="", style="width:100%").img-fluid 
        .col-12
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 Esparcir el material absorbente (arena o vermiculita) sobre la superficie del derrame, desde la periferia hacia el centro. 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 Evitar que el derrame llegue al alcantarillado. Prestar atención debajo de los muebles y equipos.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 Si la sustancia líquida llega al alcantarillado activar Plan de emergencias.             
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 Esperar unos minutos para asegurar que el derrame fue completamente absorbido.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-0 Recoger el material impregnado utilizando la pala y escoba del Kit de control de derrames y disponerlo en la bolsa plástica destinada para tal fin y cerrar.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-0 Etiquetar la bolsa con la identificación de residuo peligroso e indicar el nombre de la sustancia derramada con el fin de que se identifique posteriormente la clase de peligrosidad del residuo.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 7
            .list__txt
              p.mb-0 Proceder de acuerdo con lo establecido en el Plan de manejo de residuos peligrosos para disponer el residuo.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 8
            .list__txt
              p.mb-0 Limpiar la superficie afectada con un paño absorbente, agua y detergente.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 9
            .list__txt
              p.mb-0 Limpiar los implementos utilizados para el control del derrame y avisar al líder de área en caso de que se requiera su reposición.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Control del derrame de sólidos

        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Recoger el material derramado utilizando la pala y escoba del Kit de Control de derrames y disponerlo en la bolsa plástica destinada para tal fin y cerrar.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Etiquetar la bolsa con la identificación de residuo peligroso e indicar el nombre de la sustancia derramada con el fin de que se identifique posteriormente la clase de peligrosidad del residuo.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Proceder de acuerdo con lo establecido en el Plan de manejo de residuos peligrosos de la empresa.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Limpiar la superficie afectada con un paño absorbente, agua y detergente de ser necesario. 
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 Limpiar los implementos utilizados para el control del derrame y avisar al jefe de área en caso de que se requiera su reposición.