.container#tema_1

    .header-ecored
        h1 1. Generalidades, manejo, almacenaje y transporte de plaguicidas    

    .jumbotron.bg-white      
      
      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_01.png", alt="").img-fluid 

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Clasificación y composición de los plaguicidas 
      
      .row.mb-5
        .col-12
          p Un plaguicida es un insumo de uso en sanidad pública y agrícola destinado a prevenir, repeler, combatir y destruir organismos biológicos que afectan a las plantas o al ser humano. En el campo, es importante adquirir hábitos responsables en el manejo de los productos, residuos y envases y tomar las medidas necesarias con el fin de evitar derrames. Para la clasificación de productos químicos de uso agrícola, en adelante PQUA, se deben tener en cuenta los siguientes aspectos: 

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              h3.mb-2 Nivel de tóxicidad
              p.mb-0 Es la capacidad de los plaguicidas para producir efectos adversos. Se categorizan de la siguiente manera:

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="").img-fluid 

        .col-auto.mt-5        
          a(href="media/documentos/Anexo_1_Categorias_toxicologicas.pdf", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_pdf.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Anexo 1.] Resolución 2075 Comunidad Andina
        .col-auto        
          a(href="https://cutt.ly/MfOykO5", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 Programa  Internacional de Seguridad de las Sustancias Químicas 

      .hr-divider.my-5
      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              h3.mb-2 Composición química
              p.mb-0 De acuerdo con la composición química, los plaguicidas se clasifican en:

      .row.justify-content-center.align-items-start.my-6
        .col-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_02.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          p.mb-2 #[strong Plaguicidas organoclorados]  
          p La estructura química de estos productos corresponde a la de hidrocarburos clorados aromáticos; algunos de ellos contienen otros elementos, como oxígeno y azufre. Son compuestos estables lo que garantiza su efecto residual y estabilidad en el ambiente, son liposolubles, con una alta neurotoxicidad. 
          p Se acumulan en los lípidos de los organismos vivos y poseen una alta residualidad en el suelo; esto hace que lleguen fácilmente a la cadena alimentaria y se biomagnifiquen. 
          p Actualmente la mayor parte de estos compuestos están prohibidos debido a su lenta degradación, por lo cual se ha limitado su producción y consumo.

      .row.justify-content-center.align-items-start.my-6
        .col-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_03.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          p.mb-2 #[strong Plaguicidas organofosforados]  
          p Su inicio se dio como un químico más ecológico que los organoclorados, sin embargo, son más tóxicos para los vertebrados, menos persistentes en el ambiente que los organoclorados. 
          p Principalmente, son utilizados para el control de insectos adultos y parásitos de plantas y animales. Actualmente el glifosato, es el producto más utilizado de esta categoría.
          p También hacen parte de este grupo el malatión y el paratión. Tienen efectos en la función de la enzima colinesterasa, disminuye la producción de insulina (por ello su relación con enfermedades metabólicas como la diabetes tipo dos y también con efectos genotóxicos). Se relaciona con daños al sistema nervioso y al sistema endocrino.

      .row.justify-content-center.align-items-start.my-6
        .col-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_04.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          p.mb-2 #[strong Plaguicidas carbamatos]  
          p Son productos muy utilizados en la agricultura; ocasionan una alta contaminación de las aguas subterráneas y superficiales, al suelo, a las plantas, los alimentos y poseen una alta residualidad en el medio. Principalmente usados como fungicidas, que contaminan y tienen efecto neurotóxico sobre el hombre. 
          p Su descomposición puede tardar entre 4 semanas a varios meses, dependiendo de su concentración; han sido reconocidos por su poder biocida y debido a la inhibición de la actividad de la enzima acetilcolinesterasa. 
          p En la actualidad se usan como herbicidas, plaguicidas, bactericidas, y agentes antivirales debido a las propiedades antes expuestas.

      .row.justify-content-center.align-items-start.my-6
        .col-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_05.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          p.mb-2 #[strong Plaguicida piretroide]  
          p Debido a su baja toxicidad para mamíferos, y escasa acumulación en el ambiente, han sido considerados productos útiles en el combate de plagas agrícolas; sin embargo, sólo se ha autorizado un número reducido de piretroides, debido a que se muestra resistencia al producto tanto en pruebas de campo como de laboratorio. 
          p Estos compuestos se han sintetizado a partir de las piretrinas naturales, obtenidas de las flores secas del crisantemo (Chrysanthemum cinerariaefolium y Chrysanthemum roseum). Se diferencia de la síntesis química por el grupo a-ciano en su molécula. Su acción consiste en alterar la apertura y cierre de los canales de sodio dentro de la célula nerviosa, dejando lo abierto, alterando la transmisión de señales eléctricas de las células neuronales.
          p Estos compuestos sintéticos se usan comúnmente para el control de insectos vectores de enfermedades, ya que su toxicidad en mamíferos se considera baja.

      .row.justify-content-center.align-items-start.my-6
        .col-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_06.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          p.mb-2 #[strong Plaguicidas neonicotinoides]  
          p Corresponden al grupo de plaguicidas relacionados con importantes alteraciones sobre las abejas y con posibles efectos al sistema endocrino y reproductor en animales.
          p Los productos más estudiados son:
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt              
              p.mb-0 Clotianidina.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt              
              p.mb-0 Cumafós.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt              
              p.mb-0 Fluvalinato.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt              
              p.mb-0 Dinotefuran: pulguicida, piojicida, mosquicida.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span E
            .list__txt              
              p.mb-0 Imidacloprid: pulguicida, piojicida, mosquicida.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span F
            .list__txt              
              p.mb-0 Nitenpiram, un pulguicida sistémico de acción ultra rápida para uso en mascotas.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span G
            .list__txt              
              p.mb-0 Tiametoxam: empleado en cebos mosquicidas y en la agricultura.

      .row.justify-content-center        
        .col-auto
          .jumbotron
            p.mb-0 Recientes estudios han demostrado que estos químicos son capaces de incrementar los riesgos de cáncer de mama.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              h3.mb-2 Clasificación según el uso u organismo a controlar
              p.mb-0 Dentro de los usos más comunes de sustancias químicas se encuentran: 

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.mt-5
          img(src="assets/images/pages/tema_1/img_1_1_07.svg", alt="").img-fluid 
        .col-12
          .jumbotron(style="background-color: #582A00; border-radius:0; color:white")            
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Fungicidas:] efectivos en el control de hongos (mohos, y enfermedades ocasionados por ellos). 
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Herbicidas:] útiles en el control de plantas arvenses, inhibiendo o evitando su crecimiento y desarrollo.
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Insecticidas:] se usan en el control de insectos (cucarachas, zancudos, larvas, cucarrones, etc.)
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Bactericida:] se utilizan en el control de bacterias.
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Acaricida:] son usados en el control de ácaros (garrapatas).
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Nematicida:] efectivos en el control de nemátodos.
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Molusquicidas:] utilizados para el control de moluscos (babosas y caracoles).
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Rodenticidas:] usados para el control de roedores (ratón).
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Regulador de crecimiento:] estas sustancias actúan en el desarrollo de las plantas y, por lo general, son efectivas a bajas concentraciones. Podemos encontrar moléculas producidas por la planta y otras de origen sintético.
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt              
                p.mb-0 #[strong Defoliante:] su propósito es hacer que las plantas desprendan sus hojas; generalmente se utilizan después de una infestación importante de plagas o enfermedades.

      .row.justify-content-center.align-items-start.my-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_1_08.svg", alt="", style="width:300px")
        .col-auto
          a(href="https://www.ica.gov.co/areas/agricola/servicios/regulacion-y-control-de-plaguicidas-quimicos", target="_blank", style="color:#12263F")
            .jumbotron.mb-0
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Instituto Colombiano Agropecuario (ICA)]

        .hr-divider.my-5
        
        .col-12.col-lg-10         
          p.text-center El Instituto Colombiano Agropecuario (ICA) es la entidad encargada de normalizar la producción de agroquímicos en Colombia, y es en su página oficial donde se encuentra la normatividad y actualización de:

      .row.justify-content-center.my-5
        .col-10.col-lg-4.mb-4.mb-lg-0
          .row.justify-content-center.align-items-start
            .col-12.d-flex.justify-content-center.mb-3
              img(src="assets/images/pages/tema_1/icon_1_1_01.svg", alt="", style="width:125px")
            .col-12
              p.text-center #[strong Registros de venta de plaguicidas químicos de uso agrícola cancelados]
        .col-10.col-lg-4.mb-4.mb-lg-0
          .row.justify-content-center.align-items-start
            .col-12.d-flex.justify-content-center.mb-3
              img(src="assets/images/pages/tema_1/icon_1_1_02.svg", alt="", style="width:125px")
            .col-12
              p.text-center #[strong Registros de venta de plaguicidas químicos de uso agrícola revaluados]
        .col-10.col-lg-4
          .row.justify-content-center.align-items-start
            .col-12.d-flex.justify-content-center.mb-3
              img(src="assets/images/pages/tema_1/icon_1_1_03.svg", alt="", style="width:125px")
            .col-12
              p.text-center #[strong Registros de venta de plaguicidas químicos de uso agrícola vigentes]

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              h3 Clasificación según su formulación            

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_09.png", alt="").img-fluid 
      .row
        .col-12
          p De acuerdo con Espinosa (2003), la formulación se relaciona con la preparación de materias activas biológicamente en forma conveniente para el uso en la agricultura, dada la realidad que pocos plaguicidas pueden ser usados efectivamente (excepto los fumigantes) sin una mezcla o disolución con aditivos o agua.
          p.mb-5 Una formulación de un plaguicida representa una mezcla de sustancias con actividad biológica y algunos aditivos, que mejoran la eficacia del preparado, y facilitan el manejo y la aplicación final en la finca de producción.
          p.mb-4 Los componentes básicos de una formulación son:

        .col-12.col-lg-4
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Ingrediente activo.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Solvente orgánico.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Emulsificante.        
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Dispersante.

        .col-12.col-lg-4
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Coadyuvante.       
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Diluyente sólido.        
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Sinergista.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Activador.

        .col-12.col-lg-4
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Humectante.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Tensioactivo / detergente.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Estabilizador.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              h3 Clasificación según su movilidad en las plantas           

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_10.png", alt="").img-fluid

        .col-12.col-lg-6
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 #[strong De contacto:] penetran en las células del vegetal, y no son transportados por el sistema vascular de la planta. Ejemplo: herbicidas paraquat y diquat.  

        .col-12.col-lg-6
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 #[strong Los sistémicos:] penetran en los tejidos de la planta y pueden ser transportados por el sistema vascular para ejercer su acción. Ejemplo: como el 2, 4 D y el glifosato.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              h3 Clasificación según su permanencia en el medio ambiente  

      .row.justify-content-center
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Permanentes.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Persistentes.      
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 Moderadamente persistentes.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p.mb-0 No persistentes

      .row.justify-content-center
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_11.png", alt="").img-fluid 
        .col-12
          p.text-center Fuente: Ramírez y Lacasaña (2001).