.container#tema_2

    .header-ecored
        h1 2. Diligenciamiento de formatos y manejo de guías    

    .jumbotron.bg-white     

      .row.justify-content-center.mb-5
        .col-12
          .header-arrow
            h2.text-center Elaboración del manual de control de manejo de plaguicidas
      

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/info_2_01.svg", alt="").img-fluid 